language: android
jdk: openjdk11

android:
  components:
    - platform-tools
    - tools
    - build-tools-33.0.2
    - android-33
    - extra-android-m2repository
    - extra-google-m2repository

licenses:
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

branches:
  only:
    - master

before_install:
  - chmod +x gradlew

script:
  - ./gradlew clean assembleDebug --stacktrace

notifications:
  email:
    on_success: change
    on_failure: always
